@tailwind base;
@tailwind components;
@tailwind utilities;

a.active{
    background-color: #24d624;
    border-radius: 10px;
    
}

table tr{
    font-weight: 500;
}

:root {
    --body-background: white;
    --title: black;
    
}

[data-theme='light'] {
    --body-background: white;
    --title: black;
    
}

[data-theme='dark'] {
    --body-background: rgb(52, 52, 52);
    --title: white;
    
}